.navbar {
background-color: rgba(255, 255, 255, 0.85) !important; 
backdrop-filter: blur(10px); 
padding: 10px 20px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
}


.navbar-nav .nav-link {
color: #333333 !important; 
font-size: 16px;
font-weight: 500;
transition: color 0.3s ease;
margin-right: 15px;
}


.navbar-nav .nav-link:hover {
color: #6f42c1 !important; 
}

.navbar-nav img {
border-radius: 50%;
transition: transform 0.2s ease;
}

.navbar-nav img:hover {
transform: scale(1.1); 
}
