<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets/img/logo.jpg" alt="logo" width="45" height="45" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/gallery">Detalles</a>
      </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/products">Catalago</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/inform">Contactanos</a>
        </li>
        
      </ul>
      

      <ul class="navbar-nav ms-auto" style="align-items: center; gap: 15px;">
        
        <li class="nav-item">
          <a class="nav-link position-relative d-inline-block" href="/checkout">
            <img src="assets/img/carrito.png" alt="carrito" width="45" height="45" class="d-inline-block align-text-top">
            
            <span *ngIf="cartCount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="margin-top: 10px; margin-left: -10px;">
              {{ cartCount }}
            </span>
          </a>
        </li>

        
        @if (isLoggedIn()) {
          
          <li class="nav-item">
            <button (click)="ejecutarLogout()" class="aly-btn-logout" style="
              background-color: #3b185f; /* El hermoso morado oscuro de tu marca Aly */
              color: white; 
              border: none; 
              padding: 8px 20px; 
              border-radius: 20px; 
              font-weight: 600; 
              cursor: pointer;
              font-size: 0.9rem;
              box-shadow: 0 4px 10px rgba(59, 24, 95, 0.15);
              transition: background-color 0.2s ease;
            ">
              Salir
            </button>
          </li>
        } @else {
          
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <img src="assets/img/login.jpg" alt="login" width="45" height="45" class="d-inline-block align-text-top">
            </a>
          </li>
        }
      </ul>
        
    </div>
  </div>
</nav>